<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lhasa Tambola</title>
    <link rel="stylesheet" href="styles/index.css" type="text/css">
</head>
<body>
    <h1>Lhasa tambola</h1>
    <div id='number'><%= data %></div>
    <button id='start'>Next</button>
    <button id='start'>Reset</button>
 

</body>
</html>